.container {
    display: flex;
    flex-direction: column;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/myphoto.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.form-container {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);            
    border-radius: 5px;
    padding: 2rem;
    box-sizing: border-box;
}
.button {
    background: dodgerblue;
    border: 5px;
    padding: 0.5rem 1.5rem;
    margin-top: 0.5rem;
    transition: 0.7s ease-in-out;
}
.button:hover {
    background: cornflowerblue;
}
.form-container p {
     font-size: 1.2rem;
}
.form-container textarea {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 1rem 1.8rem;
    height: 80px;
    font-size: 1.2rem;
}